:root {
  --davys-grey: #5D5A5Bff;
  --light-gray: #D6D6D6ff;
  --eerie-black: #1A1819ff;
  --taupe-gray: #8E8C8Dff;
  --antique-brass: #C19383ff;

}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  height: 100vh;
  background-color: #fdfdfd;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 5px;
}
.header div {
  padding-inline: 10px;

}
.Menu {
  font-weight: 500;
  align-self: flex-start;
}
.Menu div {
  cursor: pointer;
  width: fit-content;
}
.Menu :first-child {
  font-size: 25px;
  font-weight: 700;
}
.imgGrandParent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #525051ff;
  height: 80vh;
  min-height: 700px;
  width: 70vw;
}
.imgParent{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  min-height: 600px;
  width: 70%;


  /* this kinda fire */
  background-color: var(--davys-grey);
  box-shadow:  0 0 8px 1px var(--davys-grey);
}

.Shop {
  display:flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
}
.Shop > :nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;

  height: 80vh;
  width: 100%;
}
.model {
  height: 500px;
  width: auto;
}
.sideImg { 
  height: 100%;
  width: 40%;
  object-fit: cover;
}
.merchContainer {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;

  align-items: center;
  justify-content: center;
  
  gap: 15px;
  width: 60%;
  height: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.merchContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.merchContainer {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.Merch {
  background-color: var(--light-gray);

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  margin: 10px;
  min-height: 250px;
  min-width: 250px;
}
.CartIcon {
  cursor: pointer;
  font-weight: 600;
}
