.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  height: 100vh;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header div {
  padding-inline: 5px;
}
.Menu {
  font-weight: 500;
  align-self: flex-start;
}
.imgGrandParent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  height: 75%;
  width: 70vw;
}
.imgParent{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  height: 70%;
  width: 70%;
}
