.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  height: 100vh;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header div {
  padding-inline: 5px;
}
.Menu {
  font-weight: 500;
  align-self: flex-start;
}
.Menu div {
  cursor: pointer;
  width: fit-content;
}
.imgGrandParent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  height: 75%;
  width: 70vw;
}
.imgParent{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  height: 70%;
  width: 70%;
}

.Shop {
  display:flex;
  flex-direction: column;
}
.Shop > :nth-child(2) {
  background-color: antiquewhite;

  display: flex;
  align-self: center;
  width: 95%;
}
.merchContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.Merch {
  background-color: aliceblue;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  height: 200px;
  width: 200px;
}
